{% extends 'base.html' %}
{% block content %}
    <div class="container-sign_up">
        <div class="container-sign_up-form">
            <div class="border-sign_up">
                <div>
                    <label class="sign_up-label1 login-text">first Name</label>
                    <input type="text">
                    <label class="sign_up-label2">last Name</label>
                    <input type="text">
                </div>
                <div>
                    <label class="sign_up-label3 login-text">E-Mail</label>
                    <input type="text">
                </div>
                <div>
                    <label class="sign_up-label4 login-text">Password</label>
                    <input type="password">
                </div>
                <div>
                    <label class="sign_up-label5 login-text">Confirm Password</label>
                    <input type="password">
                </div>
            </div>
        </div>
    </div>
{% endblock %}