
.container-login {
    margin: 2vw;
    padding-left: 3%;
    padding-right: 1%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
    background-image: url("https://www.evidero.de/wp-content/uploads/2014/11/zeit-einteilen-726x408.jpg");
    min-height: 600px;
    height: 95vh;
    background-color: rgba(100, 100, 100, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.container-text {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1;
    height: auto;
    z-index: 2;
    opacity: 1;
}

.container-login-form {
    position: relative;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
}

.border {
    border: solid black 2px;
    padding: 5%;
    margin: auto;
}

.border-sign_up {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    border: solid black 2px;
    padding: 5%;
    margin: auto;
}

.login-text {
    color: black;
    font-size: 30px;
    font-family: "Segoe UI", sans-serif;
    margin: auto;
    padding: 0;
}

.input-login {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    width: 100%;
}

button {
    align-items: center;
    border: solid black 2px;
    margin: auto;
    width: 45%;
    cursor: pointer;
}

.loginh1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 50px;
}

.loginp {
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    margin-right: 5%;
}

.sign_up-label1 {
    grid-row: 1;
    grid-column: span 3;
}

.sign_up-label2 {
    grid-row: 1;
    grid-column: span 3;
}

.sign_up-label3 {
    grid-row: 2;
    grid-column: span 3;
}

.sign_up-label4 {
    grid-row: 3;
    grid-column: span 3;
}

.sign_up-label5 {
    grid-row: 4;
    grid-column: span 3;
}
